:root {
    font-family: 'Times New Roman', Times, serif;
    --header-bg-color: #344057;
    --body-bg-color: #d4cebe;
    --menu-bg-color: #ce9e73;
    --menu-highlight-color: white;
    --menu-border-color: black;
    --cell-bg-color: white;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
    background-color: var(--body-bg-color);
}

button,
select {
    font-family: inherit;
}

.header {
    width: 100%;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
    background-color: var(--header-bg-color);
    color: white;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

/*.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
    margin: 2rem;
    padding: 2rem;
    width: 400px;
    justify-content: center;
    align-items: center;
    background-color: var(--menu-bg-color);
}*/

.options,
.score {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    padding: 2rem;
    background-color: var(--menu-bg-color);
}

.score {
    display: grid;
    grid-template-areas: 
    'scoreboardOne scoreboardTwo'
    'winner winner';
    align-items: center;
    justify-items: center;
}

.score:nth-child(0) {
    grid-area: scoreboardOne;
}

.score:nth-child(1) {
    grid-area: scoreboardTwo;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    width: 100px;
    justify-self: center;
}

.scoreText,
.selectionPrompt,
label {
    font-size: 1.5rem;
}

#playerScore,
#computerScore {
    font-size: 2rem;
}

select {
    margin-bottom: 1rem;
    font-size: 1rem;
    background-color: var(--menu-highlight-color);
}

.selectSymbol button {
    font-size: 2rem;
    border: 2px solid var(--menu-border-color);
    border-radius: 8px;
    background-color: var(--menu-bg-color);
}

button.active {
    background-color: var(--menu-highlight-color);
}

#reset {
    margin-top: 1rem;
    font-size: 1rem;
    border: 2px solid var(--menu-border-color);
    border-radius: 8px;
    background-color: var(--menu-bg-color);
}

#reset:hover {
    background-color: var(--menu-highlight-color);
}

.winner {
    grid-area: winner;
    margin: 1rem 0;
    height: 2rem;
    font-size: 1.5rem;
}

.board {
    display: grid;
    width: 500px;
    height: 500px;
    margin: 2rem;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    background-color: var(--cell-bg-color);
}